:root {
  --color-background-body: #ffffff;
  --color-text-hover-focus: #2196f3;
  --color-background-main: #2f303a;
  --color-backround-footer: #2f303a;
  --color-background-team: #f5f4fa;
  --color-backgroung-btn: #2196f3;
  --color-background-header: #ffffff;
  --color-link-active: #757575;
  --text-color-link: #212121;
  --text-color-contacts: #757575;
  --text-color-main: #ffffff;
  --text-color-button: #ffffff;
  --text-color-foot-address: #ffffff;
  --text-color-foot-contacts: rgba(255, 255, 255, 0.6);
  --text-filter: #212121;
  --bakground-btn-filter: #f5f4fa;
  --text-portfolio-product: #757575;
}

body {
  font-family: roboto, sans-serif;
  background-color: var(--color-background-body);
}
header {
  background-color: var(--color-background-header);
}

/* WebStudio */
.logo {
  text-decoration: none;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.logo-studio {
  color: #000000;
}

/* Navigation*/
.navigation-list {
  list-style-type: none;
}
.contacts-list {
  list-style-type: none;
}
.navigation-link {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color-link);
}
.active-page {
  color: var(--color-backgroung-btn);
}

.navigation-link:hover,
.navigation-link:focus {
  color: var(--color-text-hover-focus);
}
.navigation-link:active {
  color: var(--color-link-active);
}
.mail {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color-contacts);
}
.mail:focus,
.mail:hover {
  color: var(--color-text-hover-focus);
}
.tel {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color-contacts);
}
.tel:focus,
.tel:hover {
  color: var(--color-text-hover-focus);
}
.line {
  width: 1600px;
  height: 0px;
  border: 1px solid #ececec;
}

/*Main Head*/
.main-section {
  color: var(--text-color-main);
  background-color: var(--color-background-main);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.btn {
  color: var(--text-color-button);
  background-color: var(--color-backgroung-btn);
  font-family: Roboto;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  box-shadow: 0px 4px 4px 0px #00000026;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.btn:active {
  color: var(--color-link-active);
}
.btn:hover,
.btn:focus {
  color: #757575;
}

/*ADVANTAGE*/

.visuallyhidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.advantage-list {
  list-style-type: none;
}

/*ACTIVITY*/
.spec-head {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.spec-img {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.spec-list {
  list-style-type: none;
}
/*OUR TEAM*/
.team {
  background-color: var(--color-background-team);
}
.team-list {
  list-style-type: none;
}
.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}
.frame {
  width: 270px;
  height: calc(368 / 270);
  background-color: var(--text-color-main);
  box-shadow: 0px 2px 1px 0px #00000033;
  box-shadow: 0px 1px 1px 0px #00000024;
  box-shadow: 0px 1px 3px 0px #0000001f;
}

/*FOOTER*/

.foot {
  background-color: var(--color-backround-footer);
}
.address-list {
  list-style-type: none;
}
/* WebStudio footer*/
.logo-foot {
  text-decoration: none;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.logo-studio-foot {
  color: #ffffff;
}
.foot-text {
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.foot-address {
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color-foot-address);
}
.foot-address:focus,
.foot-address:hover {
  color: var(--color-text-hover-focus);
}
.foot-address:hover,
.foot-address:focus {
  color: var(--color-text-hover-focus);
}

.foot-contacts {
  color: var(--text-color-foot-contacts);
}
.foot-contacts:hover,
.foot-contacts:focus {
  color: var(--color-text-hover-focus);
}

/*Page portfolio*/
.main-portfolio {
  font-family: roboto, sans-serif;
  background: #e5e5e5;
}

.btn-filter {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  vertical-align: Center;
  color: var(--text-filter);
  cursor: pointer;
  background-color: var(--bakground-btn-filter);
  border-radius: 4px;
  box-shadow: 0px 2px 2px 0px #0000001f;
  box-shadow: 0px 1px 2px 0px #00000014;
  box-shadow: 0px 3px 1px 0px #0000001a;
}
.btn-filter:focus,
.btn-filter:hover {
  color: var(--text-color-button);
  background-color: var(--color-backgroung-btn);
}
.head-portfolio {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
  color: var(--text-color-link);
}
.filter-list {
  list-style-type: none;
}
.services-list {
  list-style-type: none;
}
.services-frame {
  width: 370px;
  height: calc(404 / 370);
  background-color: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}

.product {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--text-portfolio-product);
}
